/* index.css */
.bg1{
    width: 100%; height: 30px; 
    background: #000; text-align: center; 
    display: flex;
    padding: 0 30px;
}
.bg1 a{}
.bg1 a:nth-child(1){width: 100%;}
.bg1 a:nth-child(2){width: 15px; position: relative;}
.bg1 a:nth-child(2) p{position: absolute; left: 0; top: 4px;}
.bg1 a p{
    color: #fff; font-size: 0.688rem; line-height: 30px;
}
.bg1 a p img{width: 100%;}

header {
    padding: 10px 20px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
/* 메뉴 =========================================================== 완쪽메뉴 */
header .left_menu{
    display: flex;
}
header .left_menu>a{
    margin-right: 20px;
}
header .left_menu a img{}
header .left_menu .search{
    width: 180px; height: 30px;
    display: flex;
    padding: 5px 0;
}
header .left_menu .search a{margin-right: 5px;}
header .left_menu .search a img{}
header .left_menu .search input[type=text]{height: 100%;}
/* 메뉴 =========================================================== 중앙 메뉴 */
header .center_menu{}
header .center_menu nav{}
header .center_menu nav .gnb{display: flex;}
header .center_menu nav .gnb li{}
header .center_menu nav .gnb li a{}
header .center_menu nav .gnb li .lnb_bg{display: none;}
header .center_menu nav .gnb li .lnb_bg .allmenu{}
header .center_menu nav .gnb li .lnb_bg .allmenu a{}
header .center_menu nav .gnb li .lnb_bg .allmenu a img{}
header .center_menu nav .gnb li .lnb_bg .category{}
header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1{}
header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1 li{}
header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1 li a{}
header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1 li .lnb_depth2{}
header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1 li .lnb_depth2 li{}
header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1 li .lnb_depth2 li a{}
header .center_menu nav .gnb li .lnb_bg .category .menu_bg{}/* 메뉴 속 광고 */
header .center_menu nav .gnb li .lnb_bg .category .menu_bg a{}
header .center_menu nav .gnb li .lnb_bg .category .menu_bg a p{}
header .center_menu nav .gnb li .lnb_bg .category .menu_bg a p img{}
header .center_menu>a{}
header .center_menu>a h1{}
header .center_menu>a h1 img{}
/* 메뉴 =========================================================== 오른쪽 메뉴 */
header .right_menu{}
header .right_menu>a{}
header .right_menu>a:nth-child(2){}
header .right_menu a img{}