/*main */

/* ======================================================1행 동영상 */
main{position: relative; width: 100%; /* z-index: -1 */ }
main .video{
    position: relative; top: 0px;
    width: 100%; height:calc(100vh - 50px);
}
main .video .swiper-wrapper{}
main .video .swiper-wrapper .swiper-slide{}
main .video .swiper-wrapper .swiper-slide video{
    width: 100%; height: 100%;object-fit: cover;/* 백그라운드포지션과 비슷한 역활:검색 */
}
main .video .swiper-wrapper .swiper-slide p{
    color: #fff;
    position: absolute; bottom: 40px; right: 260px;
    font-size: 0.75rem;
}
main .video .swiper-wrapper .slide1{}
main .video .swiper-wrapper .slide2{}
main .video .swiper-wrapper .slide3{}
main .video .swiper-wrapper .slide4{}
main .video .swiper-wrapper .slide5{}
main .video .swiper-wrapper .slide5{}
main .video .swiper-wrapper .slide1 video{}
main .video .swiper-wrapper .slide2 video{}
main .video .swiper-wrapper .slide3 video{}
main .video .swiper-wrapper .slide4 video{}
main .video .swiper-wrapper .slide5 video{}
main .video .swiper-wrapper .swiper-scrollbar{
    background-color: #fff;
}

.swiper-scrollbar-horizonta{
    background: #fff;
}

/* ======================================================2행 베스트 상품 */

main .best_seller{width: 100%; padding: 150px 0;}
main .container{
    max-width: 1500px; min-width: 320px; margin: 0 auto;
}
main .title{
    padding: 0 70px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1.875rem;
    margin-bottom: 50px;
} /* 제목 */
main .title h2{ font-weight: 700;}
main .title a{transform-origin: 30%;transform-origin: 50% 60%;}
main .title>a>img{width: 100%;}
main .title a:hover{transform: rotate(90deg);}
main .best_seller .container .best_title h1{}
main .best_seller .container .best_title p{}
main .best_seller .container .best_title p img{}
main .best_seller .container .best_menu{
    display: flex; padding: 0 50px;
    width: 100%; 
    margin-bottom: 50px;
} /* 중간 메뉴 */
main .best_seller .container .best_menu a{
    display: block;  font-size: 0.75rem; /* font-size: 0.875rem; 마우스 올렸을때 */
    width: 100%; padding: 10px;
    color: #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
}
main .best_seller .container .best_menu a:hover{
    color: #CBA064; font-weight: 600; font-size: 0.76rem;
    border-bottom: 1px solid #CBA064;
}
main .best_seller .container .best_product_box{
    width: 100%;  margin: 0 auto;

} /* 상품 전체 묶음 */
main .best_seller .container .best_product_box .best_product_top{
    display: flex;
    justify-content: space-between; align-items: center;
    width: 100%; margin-bottom: 50px;
} /* 상품 위 메인 */
main .best_seller .container .best_product_box .best_product_top>a{} /* 화살표 */
main .best_seller .container .best_product_box .best_product_top>a:nth-child(1){} /* 완쪽 화살표 */
main .best_seller .container .best_product_box .best_product_top>a:nth-child(3){} /* 오른쪽 화살표 */
main .best_seller .container .best_product_box .best_product_top>a img{width: 100%;}
main .best_seller .container .best_product_box .best_product_top .best_product_main{
    display: flex; width: 100%;
    align-items: center;
    margin: 0 20px;
}/* 베스트 위 상품 */
main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main{
    max-width: 800px; margin-right: 40px;
}/* 메인 이미지 */
main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main img{width: 100%;}
main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text{
    display: inline-block;
    width: max-content; text-align: left;
}/* 메인 내용 */
main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a{}
main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a h2{
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 15px;
}
main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a p{
    width: max-content;
    margin-bottom: 15px;
    font-size: 0.875rem;
}
main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a p del{
    color: #bbb; margin-right: 10px;  margin-right: 15px;
}
main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a p em{
    color: #6B3E00; font-size: 1rem; font-weight: 700;
}
main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text .best_main_btn {
    padding: 10px 30px; font-size: 0.875rem;
    border: 1px solid #333;
}
main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text .best_main_btn:hover{
    color: #CBA064;
    border: 1px solid #CBA064;
}
main .product_bottom{
    display: flex; 
    padding: 0 50px;
    max-width: 1500px; min-width: 300px;
}/* 메인 상품 아래 */
main .product_bottom .product{
    width: 100%;
    margin-right: 10px; 
}
main .product_bottom .product:last-child{margin-right: 0;}
main .product_bottom .product>a{overflow: hidden; margin-bottom: 5px;}
main .product_bottom .product>a>img{width: 100%; margin-bottom: 5px;}
main .product_bottom .product>a:hover>img{}
main .product_bottom .product .product_box{
    height: 109px; width: 100%;/* 아래 상품 내용 */
    position: relative; padding: 0 2px;
}
main .product_bottom .product .product_box .product_box_t{
    margin-bottom: 15px;
}
main .product_bottom .product .product_box>a:nth-child(2){
    position: absolute; bottom: 0;
}
main .product_bottom .product .product_box .product_box_t>a p{
    text-align: left;
    font-size: 0.75rem; line-height: 150%;
}
main .product_bottom .product .product_box_t .product_ts>a{
    display: block; font-weight: 700; text-align: left;
}
main .product_bottom .product .product_box{margin-bottom: 10px;}
main .product_bottom .product .product_box>a{
    display: block;
    text-align: left;
}
main .product_bottom .product .product_box>a del{color: #bbb;margin-right: 15px;}/* 원가 */
main .product_bottom .product .product_box>a em{color: #6B3E00; font-weight: 700; }/* 가격 */
main .product_bottom .product .product_box .product_box_t .product_ts{
    text-align: left; width: 100%;
    display: flex; justify-content: space-between;
    margin-bottom: 10px;
}

main .product_bottom .product .product_box_t .product_ts>a img{width: 100%;}
main .product_bottom .product .product_box_t{}

/* ======================================================2행 베스트 상품 끝 */
/* ======================================================3행 카탈로그 */

main .category{
    width: 100%; height: 600px;
    display: flex; justify-content: space-between;
}
main .category .category_name{
    width: calc((100% - 20px) / 3);
    position: relative;
}
main .category .category_name span{
    position: absolute; top: 0; width: 100%; height: 100%;
    line-height: 600px;
    display: block; font-size: 1.875rem; font-weight: 700;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%  100%;
}
main .category .category_name:hover span{
    background-size: 110%  110%;
}
main .category .category_name:hover span:nth-child(2){
    background-color: rgba(0, 0, 0, 0);
}
main .category .category_name span:nth-child(2){
    position: absolute; top: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.1); z-index: 10;
}
main .category .face span:nth-child(1){
    background-image: url(../images/category/face.jpg);
    color: #fff;
}
main .category .skincare span:nth-child(1){
    background-image: url(../images/category/skincare.jpg);
}
main .category .lip span:nth-child(1){
    background-image: url(../images/category/lip.jpg);
    color: #fff;
}
/* ======================================================3행 카탈로그 끝 */
/* ======================================================4행 신상품*/
main .new_seller{width: 100%; padding: 150px 0;}
main .title1{position: relative; margin-bottom: 80px;}
main .title1::after{
    content: ""; width: 95%; border-bottom: 1px solid #C2C2C2;
    position: absolute; bottom: -20px; left: 40px;
}
main .new_product_box{}
main .new_product_box .new_product_top{
    max-width: 1500px; min-width: 300px;
    display: flex; padding: 0 50px;
    justify-content: space-between;  
}
main .new_product_box .new_product_top .new_main{
    text-align: left; margin-bottom: 40px;
}
main .new_product_box .new_product_top .new_main01{margin-right: 10px;}
main .new_product_box .new_product_top .new_main02{margin-right: 0px;}
main .new_product_box .new_product_top .new_main>a{}
main .new_product_box .new_product_top .new_main>a img{width: 100%;}
main .new_product_box .new_product_top .new_main .new_main_text_all{
    text-align: left; margin: 10px 0 20px 0;
}
main .new_product_box .new_product_top .new_main .new_main_text_all .new_main_text{
    text-align: left; display: flex; justify-content: space-between; padding: 0 5px; align-content: center;
    margin-bottom: 10px;
}
main .new_product_box .new_product_top .new_main .new_main_text_all .new_main_text a{
    font-weight: 600;
}
main .new_product_box .new_product_top .new_main .new_main_text_all .new_main_text a img{}
main .new_product_box .new_product_top .new_main .new_main_text_all>a{
    font-size: 0.75rem; 
}
main .new_product_box .new_product_top .new_main a{}
main .new_product_box .new_product_top .new_main a del{font-size: 0.75rem; color: #C2C2C2;margin-right: 15px;}
main .new_product_box .new_product_top .new_main a em{font-size: 0.875rem; color: #6B3E00; font-weight: 700;}

main .new_product_box .new_bottom{
    padding: 0px 20px; 
}
main .new_product_box .new_bottom .product:nth-child(5){margin-right: 0;}
main .new_product_box .new_bottom .arrow{
    align-content: center;
}
/* ======================================================4행 신상품 끝*/
/* ======================================================5행 서울레드 배너*/
main .banner{
    width: 100%; height: 500px;
    background-image: url(../images/seoulred_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%  100%;
    align-content: center;
}
main .banner a{display: block; width: 100%; height: 100%; align-content: center; background-color: rgba(0, 0, 0, 0.2);}
main .banner a:hover{ background-color: rgba(0, 0, 0, 0);}
main .banner a p{color: #fff; line-height: 150%; }
main .banner a p:nth-child(1){font-size: 1.875rem; font-weight: 700;margin-bottom: 30px;}
main .banner a p:nth-child(2){}
/* ======================================================5행 서울레드 끝*/
/* ======================================================6행 추천상품*/
main .recommended{width: 100%; padding: 150px 0 0 0;}
main .recommended .recommended_box .recommended_product{
    padding: 0 0px;
}/* 상품 전체 묶음 */
main .recommended .recommended_box .recommended_product .recommended_line01{} /* 1행 */
main .recommended .recommended_box .recommended_product .recommended_line02{margin: 30px 0;} /* 2행 */
main .recommended .recommended_box .recommended_product .recommended_line03{margin-bottom: 60px;} /* 3행 */
main .recommended .recommended_box .recommended_btn{margin-bottom: 80px;}
main .recommended .recommended_box .recommended_btn button{
    font-size: 0.75rem; color: #C2C2C2;
    margin: 0 10px;
}
main .recommended .recommended_box .recommended_btn button:hover{ 
    color: #CBA064; font-size: 0.76rem; font-weight: 600;
}
/* ======================================================6행 추천상품 끝*/
/* ======================================================7행 회사소개*/
main .introduction{width: 100%; padding: 150px 0;}
main .introduction .introduction_box{
    max-width: 1400px; height: 500px;
    display: flex; justify-content: space-between;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.25);
}
main .introduction .introduction_box .introduction_text{
    width: 80%;  height: 100%;
    position: relative;
}
main .introduction .introduction_box .introduction_text .introduction_text_t{
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
main .introduction .introduction_box .introduction_text .introduction_text_t h3{
    font-size: 1.875rem; margin-bottom: 30px;
} /* 제목 */
main .introduction .introduction_box .introduction_text .introduction_text_t p{
    max-width: 400px; min-width: 300px; margin: 20px  auto;
    line-height: 150%; font-size: 0.875rem;
}
main .introduction .introduction_box .introduction_video{width: 100%;}
main .introduction .introduction_box .introduction_video video{
    width: 100%; height: 100%; object-fit: cover;/* 백그라운드포지션과 비슷한 역활:검색 */
}
/* ======================================================7행 회사소개 끝*/
/* ======================================================8행 일반 배너*/
main .banner2{
    width: 100%; height: 300px;
    background: url(../images/banner.jpg) no-repeat fixed center / cover  ;
}
/* ======================================================8행 일반 배너 끝*/
/* ======================================================9행 인스타그램*/
main .instagram{width: 100%; padding: 150px 0;}
main .instagram .instagram_box{
    max-width: 1400px; height: 100%;
    margin: 0 auto;
}
main .instagram .instagram_box .text{margin-bottom: 60px;}
main .instagram .instagram_box .text h2{font-size: 1.875rem; margin-bottom: 20px;font-weight: 700;}
main .instagram .instagram_box .text p{color: #555;}
main .instagram .instagram_box .instagram_img{
    width: 100%; height: 760px;
    display: flex; justify-content: space-between;
} /* 사진 전체 */
main .instagram .instagram_box .instagram_img .row{
    display: block;
    width: calc((100% - 20px) / 3); height: 100%;
    overflow: hidden;
} /* 열 공통 */
main .instagram .instagram_box .instagram_img .row a{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;

} /* 열 공통 */
main .instagram .instagram_box .instagram_img .row a span{
    position: absolute; top: 0; left: 0;width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
} /* 열 공통 */
main .instagram .instagram_box .instagram_img .row a:hover{
    background-size: 110% 110%;
}
main .instagram .instagram_box .instagram_img .row a:hover span{
    background-color: rgba(0, 0, 0, 0.3);
}
main .instagram .instagram_box .instagram_img .row1{
    
} /* 열 개별 */
main .instagram .instagram_box .instagram_img .row1 a{
    height: calc((100% - 10px) / 2) ;width: 100%;
} /* 열 개별 */
main .instagram .instagram_box .instagram_img .row1 a:nth-child(1){
    background-image: url(../images/instagram/Instagram_01.jpg);
}
main .instagram .instagram_box .instagram_img .row1 a:nth-child(2){
    background-image: url(../images/instagram/Instagram_02.jpg);
}
main .instagram .instagram_box .instagram_img .row2{} /* 열 개별 */
main .instagram .instagram_box .instagram_img .row2 a{
    height: calc((100% - 20px) / 3) ;width: 100%;
} /* 열 개별 */
main .instagram .instagram_box .instagram_img .row2 a:nth-child(1){
    background-image: url(../images/instagram/Instagram_03.jpg);
}
main .instagram .instagram_box .instagram_img .row2 a:nth-child(2){
    background-image: url(../images/instagram/Instagram_04.jpg);
}
main .instagram .instagram_box .instagram_img .row2 a:nth-child(3){
    background-image: url(../images/instagram/Instagram_05.jpg);
}

main .instagram .instagram_box .instagram_img .row3{} /* 열 개별 */
main .instagram .instagram_box .instagram_img .row3 a{
    height: calc((100% - 10px) / 2) ;width: 100%;
} /* 열 개별 */
main .instagram .instagram_box .instagram_img .row3 a:nth-child(1){
    background-image: url(../images/instagram/Instagram_06.jpg);
}
main .instagram .instagram_box .instagram_img .row3 a:nth-child(2){
    background-image: url(../images/instagram/Instagram_07.jpg);
}
main .instagram .instagram_box button{
    padding: 10px 80px;
    border: 1px solid #333;
    color: #333;
    margin-top: 50px;
}
main .instagram .instagram_box button:hover{
    border: 1px solid #CBA064;
    color: #CBA064;
}
/* ======================================================9행 인스타그램 끝*/
/* ======================================================10행 매장안내*/
main .shop{
    width: 100%; height: 300px;
    background-image: url(../images/store_information.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-content: center;
}
main .shop p{}
main .shop p{color: #fff; line-height: 150%;}
main .shop p:nth-child(1){font-size: 1.875rem; font-weight: 700;}
main .shop p:nth-child(2){margin: 30px 0;}
main .shop button{
    padding: 10px 20px;
    border: 1px solid #fff; color: #fff;
}
main .shop button:hover{
    border: 1px solid #CBA064;
    color: #CBA064;
}
/* ======================================================10행 매장안내 끝*/

