@media screen and (max-width:1399px){/* 태블릿 */
    header .left_menu .search input[type=text]{display: none;}
    header .center_menu nav .gnb>li .lnb_bg{
        padding: 40px 80px;
    }
    header .center_menu nav .gnb>li .lnb_bg .allmenu{
        margin-bottom: 5px;
    }
    header .center_menu nav .gnb li .lnb_bg .category{
        flex-flow: column wrap;
        
    }
    
    header .center_menu nav .gnb li .lnb_bg .category .menu_bg a{
        margin: 0 auto;
    }
    header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1>li{
        justify-content: space-between;
        width: 100%;
    }
    /* ===================================비디오 */
    main .video{height:735px;}
    main .video .swiper-wrapper .swiper-slide p{right: 80px;}
    /* ===================================베스트 상품 */
    main .best_seller{width: 100%; padding: 40px 0;}
    main .container{width: 100%;}    
    main .title{font-size: 1.375rem;margin-bottom: 60px;}
    main .best_seller .container .best_product_box{ 
        width: 100%;
        padding: 0 50px;
    }/* 메인 */
    main .best_seller .container .best_product_box .best_product_top>a:nth-child(1),
    main .best_seller .container .best_product_box .best_product_top>a:nth-child(3){display: none;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main{margin: 0 0;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main{
        width: 100%; margin-right: 20px;
    }/* 메인 이미지 */
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a h2{
        font-size: 0.875rem; text-align: left;
    }
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a p{font-size: 0.75rem;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a p del{font-size: 0.75rem;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a p em{font-size: 0.875rem;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text .best_main_btn{font-size: 0.75rem;}
    /* 메인 끝 */
    /* 하단 시작 */
    main .product_bottom{padding: 0 0;}
    main .product_bottom .product>a{width: 195.5px;}
    main .product_bottom .product>a img{width: 100%;}
    main .product_bottom .product .product_box_t .product_ts>a{
        font-size: 0.688rem; align-content: center;
    }
    main .product_bottom .product .product_box .product_box_t>a p{
        font-size: 0.625rem;
        line-height: 1.5;
    }
    main .product_bottom .product .product_box>a del{
        font-size: 0.625rem;
    }/* 원가 */
    main .product_bottom .product .product_box>a em{
        font-size: 0.75rem;
    }/* 가격 */
    /* ===================================베스트 상품 끝 */
    /* ===================================카테고리 */
    main .category{height: 400px;}
    main .category .category_name span{line-height: 400px; font-size: 1.125rem;}
    /* ===================================카테고리 끝 */
    /* ===================================신상품 */
    main .new_seller{padding: 80px 10px;}
    main .title1::after{width: 93%; left:50px;}
    main .new_product_box .new_product_top .new_main01{margin-right: 20px;}
    main .new_product_box .new_product_top .new_main .new_main_text_all{}
    main .new_product_box .new_product_top .new_main .new_main_text_all>a{
        font-size: 0.625rem; 
    }
    main .new_product_box .new_product_top .new_main .new_main_text_all .new_main_text{
        margin-bottom: 0;
    }
    main .new_product_box .new_product_top .new_main .new_main_text_all .new_main_text a{font-size: 0.875rem;}
    main .new_product_box .new_product_top .new_main a del{font-size: 0.75rem;}
    main .new_product_box .new_product_top .new_main a em{font-size: 0.875rem;}
    /* ===================================신상품 끝 */
    /* ===================================서울레드 배너 */
    main .banner{height: 300px;}
    main .banner a p:nth-child(1){font-size: 1.375rem; margin-bottom: 30px;}
    main .banner a p:nth-child(2){font-size: 0.75rem;}
    /* ===================================서울레드 배너 끝 */
    /* ===================================추천상품 */
    main .recommended{width: 100%; padding: 80px 10px 0 10px;}
    main .recommended .recommended_box .recommended_product{padding: 0 50px;}/* 상품 전체 묶음 */
    main .recommended .recommended_box .recommended_product .recommended_line03{margin-bottom: 50px;}
    main .recommended .recommended_box .recommended_btn{margin-bottom: 50px;}
    main .recommended .recommended_box .recommended_product{
        padding: 0 50px;
    }/* 상품 전체 묶음 */
    /* ===================================추천상품 끝*/
    /* ===================================회사소개*/
    main .introduction{width: 100%; padding: 80px 50px;}
    main .introduction .introduction_box{height: 250px;}
    main .introduction .introduction_box .introduction_text{width: 100%;}
    main .introduction .introduction_box .introduction_text .introduction_text_t h3{font-size: 1.375rem;}
    main .introduction .introduction_box .introduction_text .introduction_text_t p{font-size: 0.625rem;}
    /* ===================================회사소개 끝*/

    
}   /* 태블릿 끝 */

@media screen and (max-width:959px){/* 모바일 */
    html, body {max-width: 100vw;/* overflow-x: hidden; */}
    .bg1 a p{font-size: 0.5rem;}
    header{width: 100%;}
    header .left_menu{left: 10px; top: 15px;}
    header .left_menu>a{display: none;}
    header .left_menu .hamburger{display: block;}
    header .left_menu .hamburger:hover samp{background-color:#CBA064;}
    header .left_menu .search{display: none;}
    /* 메뉴 =========================================================== 중앙 메뉴 */
    header .center_menu{margin: 50px 0;width: 100%;}
    header .center_menu nav .gnb{
        background-color: #fff; flex-wrap: nowrap;}
    header .center_menu nav .gnb>li{   
        margin: 0 5px; width: 100%;
        align-content: center;
    }
    header .center_menu nav .gnb>li:nth-child(2){margin-right: 0;}
    header .center_menu nav .gnb>li>a{
        line-height: 1.5; font-size: 0.6rem;
        padding: 20px 5px;
    }
    header .center_menu nav .gnb>li .lnb_bg{
        top: 100px;
        padding: 0 5px;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.8s ease;
        pointer-events: none;
    }
    header .center_menu nav .gnb>li .lnb_bg.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
    header .center_menu nav .gnb li .lnb_bg .category{
        display: flex;
        flex-direction: column;
    }
    header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1{
        display: flex;
        width: 100%;
        flex-direction: column; 
        margin-bottom: 15px;
    }
    header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1>li{
        padding: 10px 10px;
        width: 100%;
        box-sizing: border-box;
        
    }
    header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1>li>a{
        border-bottom: 1px dotted #D9D9D9; 
        padding: 0px 0px; white-space: normal;
        width: 100%;
    }
    header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1>li>a>p{
        font-size: 0.6rem; 
    }
    header .center_menu nav .gnb li .lnb_bg .category .menu_bg{
        
    }
    header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1>li .lnb_depth2{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        padding: 10px 5px;
    }
    header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1>li .lnb_depth2>li{
        margin-bottom: 0px;
    }
    header .center_menu nav .gnb li .lnb_bg .category .lnb_depth1>li .lnb_depth2>li a{
        white-space: nowrap;/* ← 핵심: 줄바꿈 허용 */
        padding: 4px 6px;
        font-size: 0.6rem;
        max-width: 100%;
    }
    header .center_menu nav .gnb li .lnb_bg .category .menu_bg a:nth-child(2){
        display: none;
    }
    header .center_menu nav .gnb li .lnb_bg .category .menu_bg a{margin-right: 0;}
    header .center_menu nav .gnb li .lnb_bg .category .menu_bg a p:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* 이미지 자체 */
    header .center_menu nav .gnb li .lnb_bg .category .menu_bg a p img {
        display: block;
        margin: 0 auto;
       /*  max-width: 100%; */
        height: auto;
    }
    header .center_menu nav .gnb li .lnb_bg .category .menu_bg a p img{
        width: 250px;
    }
    /* ========================================= */
    header .right_menu{right: 10px; top: 15px;}
    header .right_menu>a{margin-right: 0px;}
    header .right_menu>a:nth-child(2){display: none;}
    /* ===================================비디오 */
    main .video{height:220px; width: 100%;}
    main .video .swiper-wrapper .swiper-slide p{
        bottom: 10px; right: 5px;
        font-size: 0.375rem;
    }
    /* ===================================베스트 상품 */
    main .best_seller{width: 100%; padding: 50px 0;}
    
    main .container{width: 100%;}  
    main .best_seller .container .best_menu{padding: 0 10px; margin-bottom: 20px;}
    main .title{font-size: 1.375rem;margin-bottom: 40px; padding: 0 10px;}
    main .best_seller .container .best_product_box{ 
        padding: 10px;
        
    }/* 메인 */
    main .best_seller .container .best_product_box .best_product_top{
        
    }
    main .best_seller .container .best_product_box .best_product_top>a:nth-child(1),
    main .best_seller .container .best_product_box .best_product_top>a:nth-child(3){display: none;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main{margin: 0 0; flex-flow: row wrap;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main{
        width: 100%; margin-right: 0px; margin-bottom: 20px;
    }/* 메인 이미지 */
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text{
        margin: 0 auto;
    }
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a h2{
        font-size: 0.7rem; text-align: center;
    }
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a p{font-size: 0.6rem;margin: 15px auto;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a p del{font-size: 0.7rem;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a p em{font-size: 0.6rem;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text .best_main_btn{
        font-size: 0.7rem;
        display: block; margin: 0 auto;
        margin-bottom: 30px;
    }
    /* 메인 끝 */
    /* 하단 시작 */
    main .product_bottom{
        padding: 0 0; display: grid; width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
    main .product_bottom .product{}
    main .product_bottom .product>a{width: 100%;}
    main .product_bottom .product>a img{width: 100%;}
    main .product_bottom .product .product_box_t .product_ts>a{
        font-size: 0.688rem; align-content: center; line-height: 130%;
    }
    main .product_bottom .product .product_box .product_box_t>a p{
        font-size: 0.6rem;
        line-height: 1.5;
    }
    main .product_bottom .product .product_box>a del{
        font-size: 0.6rem;
    }/* 원가 */
    main .product_bottom .product .product_box>a em{
        font-size: 0.7rem;
    }/* 가격 */
    /* ===================================카테고리 */
    main .category{
        display: flex; width: 100%; height: 500px;
        flex-flow: column nowrap;
    }
    main .category .category_name{
        height: calc((100% - 10px) / 3); width: 100%;
    }
    main .category .category_name span{
        background-position: cover; line-height: 163px;
        font-size: 0.875rem;
    }
    /* ===================================카테고리 끝 */
    /* ===================================신상품 */
    main .new_seller{padding: 50px 10px;}
    main .title1::after{width: 97%; left: 10px;}
    main .new_product_box .new_bottom .arrow{display: none;}
    main .new_product_box .new_product_top{
        margin-right: 0; padding: 0 10px;
    }
    main .new_product_box .new_product_top .new_main01{
        margin-right: 0; margin-top: 40px; width: 100%;
    }
    main .new_product_box .new_product_top .new_main .new_main_text_all{}
    main .new_product_box .new_product_top .new_main .new_main_text_all>a{
        font-size: 0.688rem;; 
    }
    main .new_product_box .new_product_top .new_main .new_main_text_all>a img{width: 100%;}
    main .new_product_box .new_product_top .new_main .new_main_text_all .new_main_text{
        margin-bottom: 0;
    }
    main .new_product_box .new_product_top .new_main .new_main_text_all .new_main_text a{font-size: 0.7rem;}
    main .new_product_box .new_product_top .new_main a del{font-size: 0.6rem;}
    main .new_product_box .new_product_top .new_main a em{font-size: 0.7rem;}

    main .new_product_box .new_product_top .new_main02{display: none;}
    main .new_product_box .new_bottom{padding: 0px 10px;}
    /* ===================================신상품 끝 */
    /* ===================================서울레드 배너 */
    main .banner{height: 150px;}
    main .banner a p:nth-child(1){font-size: 1rem; margin-bottom: 10px;}
    main .banner a p:nth-child(2){font-size: 0.7rem;}
    /* ===================================서울레드 배너 끝 */
    /* ===================================추천상품 */
    main .recommended{width: 100%; padding: 50px 10px 0 10px;}
    main .recommended .recommended_box .recommended_product{ padding: 0 0px;}
    main .recommended .recommended_box .recommended_product .recommended_line02{margin-bottom: 40px;}
    main .recommended .recommended_box .recommended_product .recommended_line03{display: none;}
    main .recommended .recommended_box .recommended_btn{}
    main .recommended .recommended_box .recommended_btn button{margin: 0 5px; font-size: 0.7rem;}
    main .recommended .recommended_box .recommended_btn button:hover{ 
        font-size: 0.8rem;
    }
    /* ===================================추천상품 끝 */
    /* ===================================회사소개 */
    main .introduction{padding: 50px 10px;}
    main .introduction .introduction_box{
        width: 100%; height: 400px; flex-flow: column nowrap;
        box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.25);
    }
    main .introduction .introduction_box .introduction_text .introduction_text_t h3{
        font-size: 1rem; margin-bottom: 20px;
    }
    main .introduction .introduction_box .introduction_text .introduction_text_t p{
        height: 50%;
    }
    main .introduction .introduction_box .introduction_video{height: 50%;}
    /* ===================================회사소개 끝 */
}