@media screen and (max-width:959px){/* 태블릿 */
    header .left_menu .search input[type=text]{display: none;}
    header .center_menu nav .gnb>li .lnb_bg{
        padding: 40px 80px;
    }
    header .center_menu nav .gnb>li .lnb_bg .allmenu{
        margin-bottom: 5px;
    }
    header .center_menu nav .gnb li .lnb_bg .category{
        flex-flow: column wrap;
        
    }
    header .center_menu nav .gnb li .lnb_bg .category .menu_bg a{
        margin: 0 auto;
    }
}

@media screen and (max-width:339px){/* 모바일 */
    header .left_menu{left: 10px; top: 15px;}
    header .left_menu>a{display: none;}
    header .left_menu .hamburger{display: block;}
    header .left_menu .hamburger:hover samp{background-color:#CBA064;}
    header .left_menu .search{display: none;}
    /* 메뉴 =========================================================== 중앙 메뉴 */
    header .center_menu nav .gnb>li{margin: 70px 10px;}
    header .center_menu nav .gnb>li:nth-child(2){margin-right: 0;}
    header .center_menu nav .gnb>li .lnb_bg{
        position: absolute; top:60px; left: 0;
        padding: 20px 10px;
    }
    /* ========================================= */
    header .right_menu{right: 10px; top: 15px;}
    header .right_menu>a{margin-right: 0px;}
    header .right_menu>a:nth-child(2){display: none;}

}