@media screen and (max-width:1399px){/* 태블릿 */
    /* ===================================비디오 */
    main .video{height:735px;}
    main .video .swiper-wrapper .swiper-slide p{right: 80px;}
    /* ===================================베스트 상품 */
    main .best_seller{width: 100%; padding: 40px 0;}
    main .container{width: 100%;}    
    main .title{font-size: 1.375rem;margin-bottom: 60px; padding: 0 50px;}
    main .best_seller .container .best_product_box{ 
        width: 100%;
        padding: 0 50px;
    }/* 메인 */
    main .best_seller .container .best_product_box .best_product_top>a:nth-child(1),
    main .best_seller .container .best_product_box .best_product_top>a:nth-child(3){display: none;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main{margin: 0 0;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main{
        width: 100%; margin-right: 20px;
    }/* 메인 이미지 */
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a h2{
        font-size: 0.875rem; text-align: left;
    }
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a p{font-size: 0.75rem;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a p del{font-size: 0.75rem;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text>a p em{font-size: 0.875rem;}
    main .best_seller .container .best_product_box .best_product_top .best_product_main .best_main_text .best_main_btn{font-size: 0.75rem;}
    /* 메인 끝 */
    /* 하단 시작 */
    main .product_bottom{padding: 0 0;}
    main .product_bottom .product>a{width: 100%;}
    main .product_bottom .product>a img{width: 100%;}
    main .product_bottom .product .product_box_t .product_ts>a{
        font-size: 0.688rem; align-content: center;
    }
    main .product_bottom .product .product_box .product_box_t>a p{
        font-size: 0.625rem;
        line-height: 1.5;
    }
    main .product_bottom .product .product_box>a del{
        font-size: 0.625rem;
    }/* 원가 */
    main .product_bottom .product .product_box>a em{
        font-size: 0.75rem;
    }/* 가격 */
    /* ===================================베스트 상품 끝 */
    /* ===================================카테고리 */
    main .category{height: 400px;}
    main .category .category_name span{line-height: 400px; font-size: 1.125rem;}
    /* ===================================카테고리 끝 */
    /* ===================================신상품 */
    main .new_seller{padding: 80px 10px;}
    main .title1::after{width: 93%; left:50px;}
    main .new_product_box .new_product_top .new_main01{margin-right: 20px;}
    main .new_product_box .new_product_top .new_main .new_main_text_all{}
    main .new_product_box .new_product_top .new_main .new_main_text_all>a{
        font-size: 0.625rem; 
    }
    main .new_product_box .new_product_top .new_main .new_main_text_all .new_main_text{
        margin-bottom: 0;
    }
    main .new_product_box .new_product_top .new_main .new_main_text_all .new_main_text a{font-size: 0.875rem;}
    main .new_product_box .new_product_top .new_main a del{font-size: 0.75rem;}
    main .new_product_box .new_product_top .new_main a em{font-size: 0.875rem;}
    /* ===================================신상품 끝 */
    /* ===================================서울레드 배너 */
    main .banner{height: 300px;}
    main .banner a p:nth-child(1){font-size: 1.375rem; margin-bottom: 30px;}
    main .banner a p:nth-child(2){font-size: 0.75rem;}
    /* ===================================서울레드 배너 끝 */
    /* ===================================추천상품 */
    main .recommended{width: 100%; padding: 80px 10px 0 10px;}
    main .recommended .recommended_box .recommended_product{padding: 0 50px;}/* 상품 전체 묶음 */
    main .recommended .recommended_box .recommended_product .recommended_line03{margin-bottom: 50px;}
    main .recommended .recommended_box .recommended_btn{margin-bottom: 50px;}
    main .recommended .recommended_box .recommended_product{
        padding: 0 50px;
    }/* 상품 전체 묶음 */
    /* ===================================추천상품 끝*/
    /* ===================================회사소개*/
    main .introduction{width: 100%; padding: 80px 50px;}
    main .introduction .introduction_box{height: 250px;}
    main .introduction .introduction_box .introduction_text{width: 100%;}
    main .introduction .introduction_box .introduction_text .introduction_text_t h3{font-size: 1.375rem;}
    main .introduction .introduction_box .introduction_text .introduction_text_t p{font-size: 0.625rem;}
    /* ===================================회사소개 끝*/
    /* ===================================일반 배너*/
    main .banner2{height: 200px;}
    /* ===================================일반 배너 끝*/
    /* ===================================인스타그램*/
    main .instagram{width: 100%; padding: 80px 50px;}
    main .instagram .instagram_box .instagram_img{height: 500px;}
    main .instagram .instagram_box .text h2{font-size: 1.375rem; margin-bottom: 10px;}
    main .instagram .instagram_box .text p{font-size: 0.875rem;}
    main .instagram .instagram_box button{padding: 10px 60px;}
    /* ===================================인스타그램 끝*/
    /* ===================================매장안내*/
    main .shop{}
    main .shop p{}
    main .shop p:nth-child(1){font-size: 1.375rem;}
    main .shop p:nth-child(2){font-size: 0.75rem; margin: 20px 0;}
    main .shop button{font-size: 0.75rem;}
    /* ===================================매장안내 끝*/
    /* =============**서브페이지**=================== 시작 */
    /* -------1헹 메인 시작 */
    .sub_mainbg{ height:735px; padding: 0 80px;}
    .sub_mainbg .sub_mainbg_text h1{font-size: 1.875rem;}
    .sub_mainbg .sub_mainbg_text p{font-size: 0.938rem;}
    .sub_mainbg .sub_mainbg_text .sub_btn01{font-size: 0.938rem;}
    /* -------1헹 메인 끝 */
    /* -------3행 세부카테고리 시작 */
    .sub_category .category_details .text h2{font-size: 1.25rem;}
    .sub_category .category_details .text p{font-size: 0.875rem;}
    .sub_category .category_details .text .sub_btn02{font-size: 0.938rem;}
    /* -------3행 세부카테고리 끝 */
    /* =============**서브페이지**=================== 끝 */ 
}   /* 태블릿 끝 */
