@media screen and (max-width:1399px){/* 태블릿 */
    header nav .gnb li .lnb_bg{}
    header .left .search_box .text_box[type=text]{display: none;}
    header nav .gnb li .lnb_bg .menu_bg{padding: 40px 80px;}
    header nav .gnb li .lnb_bg .menu_bg .all_moving{padding: 10px 20px;}
    header nav .gnb li .lnb_bg .menu_bg .menu_group{flex-flow: column nowrap;}
    header nav .gnb li .lnb_bg .menu_bg .menu_group .lnb_depth1{width: 100%; margin-bottom: 30px;}
    header nav .gnb li .lnb_bg .menu_bg .menu_group .lnb_depth1 li .cosmetics{padding: 10px 5px;}
    header nav .gnb li .lnb_bg .menu_bg .menu_group .lnb_depth1 li .cosmetics a{font-size: 0.75rem;}
    header nav .gnb li .lnb_bg .menu_bg .menu_group .lnb_depth1 li .lnb_depth2 li a{font-size: 0.75rem;}
    header nav .gnb li .lnb_bg .menu_bg .menu_group .menu_ad{width: 100%;}
}   /* 태블릿 끝 */

@media screen and (max-width:799px){/* 모바일 */
    header{width: 100%;}
    header nav .gnb li .lnb_bg .menu_bg{padding: 20px 0px;}
    header .left .location, header .left .search_box, header .right .cart{display: none;}
    header .left .hamburger{display: block; margin-top: 5px;} 
    header nav .gnb{
        position: absolute; top:50px; left: 0;
        justify-content: space-around;
        padding: 0 20px; 
        background-color: #fff;}
    header nav .gnb>li{width: 100%;}
    header nav .gnb>li:nth-child(2){margin-right: 0;} 
    header nav .gnb>li>a{text-align: center;}
    header nav .gnb li .lnb_bg .menu_bg{width: 100%;}
    
    header nav .gnb li .lnb_bg .menu_bg .menu_group .lnb_depth1{
        display: block;
    }
    header nav .gnb li .lnb_bg .menu_bg .menu_group .lnb_depth1>li{width: 100%;}
    header nav .gnb li .lnb_bg .menu_bg .menu_group .lnb_depth1 li .lnb_depth2{display: flex;}
    header nav .gnb li .lnb_bg .menu_bg .menu_group .lnb_depth1 li .lnb_depth2 li a{
        margin-right: 20px; padding: 5px 5px; font-size: 0.7rem;
    }
    header .right .my{margin-right: 0;}
    header nav .gnb li .lnb_bg .menu_bg .menu_group .menu_ad .ad_lip{width: 70%; margin: 0 auto;}
    header nav .gnb li .lnb_bg .menu_bg .menu_group .menu_ad .ad_cosmetics{display: none;}
    
}